<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lt.base.dao.SysFileDao">
  <resultMap id="baseModel" type="com.lt.base.model.SysFileModel">
    <id column="id" property="id"/>
    <id column="create_by" property="create_by"/>
    <id column="create_time" property="create_time"/>
    <id column="modify_by" property="modify_by"/>
    <id column="modify_time" property="modify_time"/>
    <id column="base_status" property="base_status"/>
    <id column="base_available" property="base_available"/>
    <id column="base_sort" property="base_sort"/>
    <id column="sf_show_name" property="sf_show_name"/>
    <id column="sf_norm_local_path" property="sf_norm_local_path"/>
    <id column="sf_norm_url_path" property="sf_norm_url_path"/>
    <id column="sf_norm_size" property="sf_norm_size"/>
    <id column="sf_compress_local_path" property="sf_compress_local_path"/>
    <id column="sf_compress_url_path" property="sf_compress_url_path"/>
    <id column="sf_compress_size" property="sf_compress_size"/>
    <id column="sf_type" property="sf_type"/>
  </resultMap>
  <sql id="select_all">id, create_by, create_time, modify_by, modify_time, base_status, base_available, base_sort, sf_show_name, sf_norm_local_path, sf_norm_url_path, sf_norm_size, sf_compress_local_path, sf_compress_url_path, sf_compress_size, sf_type</sql>
  <sql id="Base_Column_List">
    <if test="id!=null">id,</if>
    <if test="create_by!=null">create_by,</if>
    <if test="create_time!=null">create_time,</if>
    <if test="modify_by!=null">modify_by,</if>
    <if test="modify_time!=null">modify_time,</if>
    <if test="base_status!=null">base_status,</if>
    <if test="base_available!=null">base_available,</if>
    <if test="base_sort!=null">base_sort,</if>
    <if test="sf_show_name!=null">sf_show_name,</if>
    <if test="sf_norm_local_path!=null">sf_norm_local_path,</if>
    <if test="sf_norm_url_path!=null">sf_norm_url_path,</if>
    <if test="sf_norm_size!=null">sf_norm_size,</if>
    <if test="sf_compress_local_path!=null">sf_compress_local_path,</if>
    <if test="sf_compress_url_path!=null">sf_compress_url_path,</if>
    <if test="sf_compress_size!=null">sf_compress_size,</if>
    <if test="sf_type!=null">sf_type,</if>
  </sql>
  <sql id="Base_property_List">
    <if test="id!=null">#{id},</if>
    <if test="create_by!=null">#{create_by},</if>
    <if test="create_time!=null">#{create_time},</if>
    <if test="modify_by!=null">#{modify_by},</if>
    <if test="modify_time!=null">#{modify_time},</if>
    <if test="base_status!=null">#{base_status},</if>
    <if test="base_available!=null">#{base_available},</if>
    <if test="base_sort!=null">#{base_sort},</if>
    <if test="sf_show_name!=null">#{sf_show_name},</if>
    <if test="sf_norm_local_path!=null">#{sf_norm_local_path},</if>
    <if test="sf_norm_url_path!=null">#{sf_norm_url_path},</if>
    <if test="sf_norm_size!=null">#{sf_norm_size},</if>
    <if test="sf_compress_local_path!=null">#{sf_compress_local_path},</if>
    <if test="sf_compress_url_path!=null">#{sf_compress_url_path},</if>
    <if test="sf_compress_size!=null">#{sf_compress_size},</if>
    <if test="sf_type!=null">#{sf_type},</if>
  </sql>
  <sql id="Base_update_List">
    <if test="id!=null">id=#{id},</if>
    <if test="create_by!=null">create_by=#{create_by},</if>
    <if test="create_time!=null">create_time=#{create_time},</if>
    <if test="modify_by!=null">modify_by=#{modify_by},</if>
    <if test="modify_time!=null">modify_time=#{modify_time},</if>
    <if test="base_status!=null">base_status=#{base_status},</if>
    <if test="base_available!=null">base_available=#{base_available},</if>
    <if test="base_sort!=null">base_sort=#{base_sort},</if>
    <if test="sf_show_name!=null">sf_show_name=#{sf_show_name},</if>
    <if test="sf_norm_local_path!=null">sf_norm_local_path=#{sf_norm_local_path},</if>
    <if test="sf_norm_url_path!=null">sf_norm_url_path=#{sf_norm_url_path},</if>
    <if test="sf_norm_size!=null">sf_norm_size=#{sf_norm_size},</if>
    <if test="sf_compress_local_path!=null">sf_compress_local_path=#{sf_compress_local_path},</if>
    <if test="sf_compress_url_path!=null">sf_compress_url_path=#{sf_compress_url_path},</if>
    <if test="sf_compress_size!=null">sf_compress_size=#{sf_compress_size},</if>
    <if test="sf_type!=null">sf_type=#{sf_type},</if>
  </sql>
  <sql id="Base_select_List">
    <if test="id!=null">AND id=#{id}</if>
    <if test="create_by!=null">AND create_by=#{create_by}</if>
    <if test="create_time!=null">AND create_time=#{create_time}</if>
    <if test="modify_by!=null">AND modify_by=#{modify_by}</if>
    <if test="modify_time!=null">AND modify_time=#{modify_time}</if>
    <if test="base_status!=null">AND base_status=#{base_status}</if>
    <if test="base_available!=null">AND base_available=#{base_available}</if>
    <if test="base_sort!=null">AND base_sort=#{base_sort}</if>
    <if test="sf_show_name!=null">AND sf_show_name=#{sf_show_name}</if>
    <if test="sf_norm_local_path!=null">AND sf_norm_local_path=#{sf_norm_local_path}</if>
    <if test="sf_norm_url_path!=null">AND sf_norm_url_path=#{sf_norm_url_path}</if>
    <if test="sf_norm_size!=null">AND sf_norm_size=#{sf_norm_size}</if>
    <if test="sf_compress_local_path!=null">AND sf_compress_local_path=#{sf_compress_local_path}</if>
    <if test="sf_compress_url_path!=null">AND sf_compress_url_path=#{sf_compress_url_path}</if>
    <if test="sf_compress_size!=null">AND sf_compress_size=#{sf_compress_size}</if>
    <if test="sf_type!=null">AND sf_type=#{sf_type}</if>
  </sql>
  <sql id="Base_select_like_List"><trim suffixOverrides=","> IFNULL(sf_show_name, ''), IFNULL(sf_norm_local_path, ''), IFNULL(sf_norm_url_path, ''), IFNULL(sf_norm_size, ''), IFNULL(sf_compress_local_path, ''), IFNULL(sf_compress_url_path, ''), IFNULL(sf_compress_size, ''), IFNULL(sf_type, ''), </trim></sql>
  <insert id="insert">INSERT INTO tb_sys_file (<trim suffixOverrides=","><include refid="Base_Column_List"/></trim>) VALUES (<trim suffixOverrides=","><include refid="Base_property_List"/></trim>)</insert>
  <delete id="delete">DELETE FROM tb_sys_file WHERE id = #{id}</delete>
  <update id="update">UPDATE tb_sys_file SET <trim suffixOverrides=","><include refid="Base_update_List"/></trim> WHERE id = #{id}</update>
  <select id="selectById" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM tb_sys_file WHERE id =#{id}</select>
  <select id="selectListByModel" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM tb_sys_file<where> <include refid="Base_select_List"/> </where> ORDER BY create_time DESC</select>
  <select id="selectAll" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM tb_sys_file ORDER BY create_time DESC</select>
  <select id="selectListByKeyWord" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM tb_sys_file<where> CONCAT(<include refid="Base_select_like_List"/>) LIKE concat(concat('%',#{keyWord}),'%')</where> ORDER BY create_time DESC</select>
</mapper>
