<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyb.base.dao.SysPermissionDao">
  <resultMap id="baseModel" type="com.gyb.base.model.SysPermissionModel">
    <id column="id" property="id"/>
    <id column="create_by" property="create_by"/>
    <id column="create_time" property="create_time"/>
    <id column="modify_by" property="modify_by"/>
    <id column="modify_time" property="modify_time"/>
    <id column="base_status" property="base_status"/>
    <id column="base_available" property="base_available"/>
    <id column="base_sort" property="base_sort"/>
    <id column="permission_code" property="permission_code"/>
    <id column="permission_name" property="permission_name"/>
    <id column="permission_url" property="permission_url"/>
    <id column="permission_type" property="permission_type"/>
    <id column="permission_des" property="permission_des"/>
    <id column="permission_band_menu_id" property="permission_band_menu_id"/>
  </resultMap>
  <sql id="select_all">id, create_by, create_time, modify_by, modify_time, base_status, base_available, base_sort, permission_code, permission_name, permission_url, permission_type, permission_des, permission_band_menu_id</sql>
  <sql id="Base_Column_List">
    <if test="id!=null">id,</if>
    <if test="create_by!=null">create_by,</if>
    <if test="create_time!=null">create_time,</if>
    <if test="modify_by!=null">modify_by,</if>
    <if test="modify_time!=null">modify_time,</if>
    <if test="base_status!=null">base_status,</if>
    <if test="base_available!=null">base_available,</if>
    <if test="base_sort!=null">base_sort,</if>
    <if test="permission_code!=null">permission_code,</if>
    <if test="permission_name!=null">permission_name,</if>
    <if test="permission_url!=null">permission_url,</if>
    <if test="permission_type!=null">permission_type,</if>
    <if test="permission_des!=null">permission_des,</if>
    <if test="permission_band_menu_id!=null">permission_band_menu_id,</if>
  </sql>
  <sql id="Base_property_List">
    <if test="id!=null">#{id},</if>
    <if test="create_by!=null">#{create_by},</if>
    <if test="create_time!=null">#{create_time},</if>
    <if test="modify_by!=null">#{modify_by},</if>
    <if test="modify_time!=null">#{modify_time},</if>
    <if test="base_status!=null">#{base_status},</if>
    <if test="base_available!=null">#{base_available},</if>
    <if test="base_sort!=null">#{base_sort},</if>
    <if test="permission_code!=null">#{permission_code},</if>
    <if test="permission_name!=null">#{permission_name},</if>
    <if test="permission_url!=null">#{permission_url},</if>
    <if test="permission_type!=null">#{permission_type},</if>
    <if test="permission_des!=null">#{permission_des},</if>
    <if test="permission_band_menu_id!=null">#{permission_band_menu_id},</if>
  </sql>
  <sql id="Base_update_List">
    <if test="id!=null">id=#{id},</if>
    <if test="create_by!=null">create_by=#{create_by},</if>
    <if test="create_time!=null">create_time=#{create_time},</if>
    <if test="modify_by!=null">modify_by=#{modify_by},</if>
    <if test="modify_time!=null">modify_time=#{modify_time},</if>
    <if test="base_status!=null">base_status=#{base_status},</if>
    <if test="base_available!=null">base_available=#{base_available},</if>
    <if test="base_sort!=null">base_sort=#{base_sort},</if>
    <if test="permission_code!=null">permission_code=#{permission_code},</if>
    <if test="permission_name!=null">permission_name=#{permission_name},</if>
    <if test="permission_url!=null">permission_url=#{permission_url},</if>
    <if test="permission_type!=null">permission_type=#{permission_type},</if>
    <if test="permission_des!=null">permission_des=#{permission_des},</if>
    <if test="permission_band_menu_id!=null">permission_band_menu_id=#{permission_band_menu_id},</if>
  </sql>
  <sql id="Base_select_List">
    <if test="id!=null">AND id=#{id}</if>
    <if test="create_by!=null">AND create_by=#{create_by}</if>
    <if test="create_time!=null">AND create_time=#{create_time}</if>
    <if test="modify_by!=null">AND modify_by=#{modify_by}</if>
    <if test="modify_time!=null">AND modify_time=#{modify_time}</if>
    <if test="base_status!=null">AND base_status=#{base_status}</if>
    <if test="base_available!=null">AND base_available=#{base_available}</if>
    <if test="base_sort!=null">AND base_sort=#{base_sort}</if>
    <if test="permission_code!=null">AND permission_code=#{permission_code}</if>
    <if test="permission_name!=null">AND permission_name=#{permission_name}</if>
    <if test="permission_url!=null">AND permission_url=#{permission_url}</if>
    <if test="permission_type!=null">AND permission_type=#{permission_type}</if>
    <if test="permission_des!=null">AND permission_des=#{permission_des}</if>
    <if test="permission_band_menu_id!=null">AND permission_band_menu_id=#{permission_band_menu_id}</if>
  </sql>
  <sql id="Base_select_like_List"><trim suffixOverrides=",">  IFNULL(permission_code, ''), IFNULL(permission_name, ''), IFNULL(permission_url, ''), IFNULL(permission_type, ''), IFNULL(permission_des, ''),, IFNULL(permission_band_menu_id, ''), </trim></sql>
  <insert id="insert">INSERT INTO tb_sys_permission (<trim suffixOverrides=","><include refid="Base_Column_List"/></trim>) VALUES (<trim suffixOverrides=","><include refid="Base_property_List"/></trim>)</insert>
  <delete id="delete">DELETE FROM tb_sys_permission WHERE id = #{id}</delete>
  <delete id="deleteByMenuId">DELETE FROM tb_sys_permission WHERE permission_band_menu_id = #{permission_band_menu_id}</delete>
  <update id="update">UPDATE tb_sys_permission SET <trim suffixOverrides=","><include refid="Base_update_List"/></trim> WHERE id = #{id}</update>
  <select id="selectById" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM tb_sys_permission WHERE id =#{id}</select>
  <select id="selectListByModel" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM tb_sys_permission<where> <include refid="Base_select_List"/> </where> ORDER BY create_time DESC</select>
  <select id="selectAll" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM tb_sys_permission ORDER BY create_time DESC</select>
  <select id="selectListByKeyWord" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM tb_sys_permission<where> CONCAT(<include refid="Base_select_like_List"/>) LIKE concat(concat('%',#{keyWord}),'%')</where> ORDER BY create_time DESC</select>
  <select id="selectByMenuId" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM tb_sys_permission WHERE permission_band_menu_id =#{permission_band_menu_id} limit 1</select>
  <update id="updateByMenuId">UPDATE tb_sys_permission SET <trim suffixOverrides=","><include refid="Base_update_List"/></trim> WHERE permission_band_menu_id = #{permission_band_menu_id}</update>


</mapper>
