<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyb.body.business.dao.OrderDao">
  <resultMap id="baseModel" type="com.gyb.body.business.model.OrderModel">
    <id column="id" property="id"/>
    <id column="userId" property="userId"/>
    <id column="orderNo" property="orderNo"/>
    <id column="goodsName" property="goodsName"/>
    <id column="goodsId" property="goodsId"/>
    <id column="unitPrice" property="unitPrice"/>
    <id column="buyCount" property="buyCount"/>
    <id column="weight" property="weight"/>
    <id column="amount" property="amount"/>
    <id column="payTime" property="payTime"/>
    <id column="expireTime" property="expireTime"/>
    <id column="isPay" property="isPay"/>
    <id column="orderStatus" property="orderStatus"/>
    <id column="status" property="status"/>
    <id column="orderType" property="orderType"/>
    <id column="Spare1" property="Spare1"/>
    <id column="Spare2" property="Spare2"/>
    <id column="Spare3" property="Spare3"/>
    <id column="create_time" property="create_time"/>
    <id column="create_by" property="create_by"/>
    <id column="modify_by" property="modify_by"/>
    <id column="modify_time" property="modify_time"/>
  </resultMap>
  <sql id="select_all">id, userId, orderNo, goodsName, goodsId, unitPrice, buyCount, weight, amount, payTime, expireTime, isPay, orderStatus, status, orderType, Spare1, Spare2, Spare3, create_time, create_by, modify_by, modify_time</sql>
  <sql id="Base_Column_List">
    <if test="id!=null">id,</if>
    <if test="userId!=null">userId,</if>
    <if test="orderNo!=null">orderNo,</if>
    <if test="goodsName!=null">goodsName,</if>
    <if test="goodsId!=null">goodsId,</if>
    <if test="unitPrice!=null">unitPrice,</if>
    <if test="buyCount!=null">buyCount,</if>
    <if test="weight!=null">weight,</if>
    <if test="amount!=null">amount,</if>
    <if test="payTime!=null">payTime,</if>
    <if test="expireTime!=null">expireTime,</if>
    <if test="isPay!=null">isPay,</if>
    <if test="orderStatus!=null">orderStatus,</if>
    <if test="status!=null">status,</if>
    <if test="orderType!=null">orderType,</if>
    <if test="Spare1!=null">Spare1,</if>
    <if test="Spare2!=null">Spare2,</if>
    <if test="Spare3!=null">Spare3,</if>
    <if test="create_time!=null">create_time,</if>
    <if test="create_by!=null">create_by,</if>
    <if test="modify_by!=null">modify_by,</if>
    <if test="modify_time!=null">modify_time,</if>
  </sql>
  <sql id="Base_property_List">
    <if test="id!=null">#{id},</if>
    <if test="userId!=null">#{userId},</if>
    <if test="orderNo!=null">#{orderNo},</if>
    <if test="goodsName!=null">#{goodsName},</if>
    <if test="goodsId!=null">#{goodsId},</if>
    <if test="unitPrice!=null">#{unitPrice},</if>
    <if test="buyCount!=null">#{buyCount},</if>
    <if test="weight!=null">#{weight},</if>
    <if test="amount!=null">#{amount},</if>
    <if test="payTime!=null">#{payTime},</if>
    <if test="expireTime!=null">#{expireTime},</if>
    <if test="isPay!=null">#{isPay},</if>
    <if test="orderStatus!=null">#{orderStatus},</if>
    <if test="status!=null">#{status},</if>
    <if test="orderType!=null">#{orderType},</if>
    <if test="Spare1!=null">#{Spare1},</if>
    <if test="Spare2!=null">#{Spare2},</if>
    <if test="Spare3!=null">#{Spare3},</if>
    <if test="create_time!=null">#{create_time},</if>
    <if test="create_by!=null">#{create_by},</if>
    <if test="modify_by!=null">#{modify_by},</if>
    <if test="modify_time!=null">#{modify_time},</if>
  </sql>
  <sql id="Base_update_List">
    <if test="id!=null">id=#{id},</if>
    <if test="userId!=null">userId=#{userId},</if>
    <if test="orderNo!=null">orderNo=#{orderNo},</if>
    <if test="goodsName!=null">goodsName=#{goodsName},</if>
    <if test="goodsId!=null">goodsId=#{goodsId},</if>
    <if test="unitPrice!=null">unitPrice=#{unitPrice},</if>
    <if test="buyCount!=null">buyCount=#{buyCount},</if>
    <if test="weight!=null">weight=#{weight},</if>
    <if test="amount!=null">amount=#{amount},</if>
    <if test="payTime!=null">payTime=#{payTime},</if>
    <if test="expireTime!=null">expireTime=#{expireTime},</if>
    <if test="isPay!=null">isPay=#{isPay},</if>
    <if test="orderStatus!=null">orderStatus=#{orderStatus},</if>
    <if test="status!=null">status=#{status},</if>
    <if test="orderType!=null">orderType=#{orderType},</if>
    <if test="Spare1!=null">Spare1=#{Spare1},</if>
    <if test="Spare2!=null">Spare2=#{Spare2},</if>
    <if test="Spare3!=null">Spare3=#{Spare3},</if>
    <if test="create_time!=null">create_time=#{create_time},</if>
    <if test="create_by!=null">create_by=#{create_by},</if>
    <if test="modify_by!=null">modify_by=#{modify_by},</if>
    <if test="modify_time!=null">modify_time=#{modify_time},</if>
  </sql>
  <sql id="Base_select_List">
    <if test="id!=null">AND id=#{id}</if>
    <if test="userId!=null">AND userId=#{userId}</if>
    <if test="orderNo!=null">AND orderNo=#{orderNo}</if>
    <if test="goodsName!=null">AND goodsName=#{goodsName}</if>
    <if test="goodsId!=null">AND goodsId=#{goodsId}</if>
    <if test="unitPrice!=null">AND unitPrice=#{unitPrice}</if>
    <if test="buyCount!=null">AND buyCount=#{buyCount}</if>
    <if test="weight!=null">AND weight=#{weight}</if>
    <if test="amount!=null">AND amount=#{amount}</if>
    <if test="payTime!=null">AND payTime=#{payTime}</if>
    <if test="expireTime!=null">AND expireTime=#{expireTime}</if>
    <if test="isPay!=null">AND isPay=#{isPay}</if>
    <if test="orderStatus!=null">AND orderStatus=#{orderStatus}</if>
    <if test="status!=null">AND status=#{status}</if>
    <if test="orderType!=null">AND orderType=#{orderType}</if>
    <if test="Spare1!=null">AND Spare1=#{Spare1}</if>
    <if test="Spare2!=null">AND Spare2=#{Spare2}</if>
    <if test="Spare3!=null">AND Spare3=#{Spare3}</if>
    <if test="create_time!=null">AND create_time=#{create_time}</if>
    <if test="create_by!=null">AND create_by=#{create_by}</if>
    <if test="modify_by!=null">AND modify_by=#{modify_by}</if>
    <if test="modify_time!=null">AND modify_time=#{modify_time}</if>
  </sql>
  <sql id="Base_select_like_List"><trim suffixOverrides=","> IFNULL(id, ''), IFNULL(userId, ''), IFNULL(orderNo, ''), IFNULL(goodsName, ''), IFNULL(goodsId, ''), IFNULL(unitPrice, ''), IFNULL(buyCount, ''), IFNULL(weight, ''), IFNULL(amount, ''), IFNULL(payTime, ''), IFNULL(expireTime, ''), IFNULL(isPay, ''), IFNULL(orderStatus, ''), IFNULL(status, ''), IFNULL(orderType, ''), IFNULL(Spare1, ''), IFNULL(Spare2, ''), IFNULL(Spare3, ''), IFNULL(create_time, ''), IFNULL(create_by, ''), IFNULL(modify_by, ''), IFNULL(modify_time, ''), </trim></sql>
  <insert id="insert">INSERT INTO g_order (<trim suffixOverrides=","><include refid="Base_Column_List"/></trim>) VALUES (<trim suffixOverrides=","><include refid="Base_property_List"/></trim>);</insert>
  <delete id="delete">DELETE FROM g_order WHERE id = #{id};</delete>
  <update id="update">UPDATE g_order SET <trim suffixOverrides=","><include refid="Base_update_List"/></trim> WHERE id = #{id};</update>
  <select id="selectById" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM g_order WHERE id =#{id};</select>
  <select id="selectListByModel" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM g_order<where> <include refid="Base_select_List"/> </where> ORDER BY create_time DESC</select>
  <select id="selectAll" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM g_order ORDER BY create_time DESC</select>
  <select id="selectListByKeyWord" resultMap="baseModel" useCache="true">SELECT <include refid="select_all"/> FROM g_order<where> CONCAT(<include refid="Base_select_like_List"/>) LIKE concat(concat('%',#{keyWord}),'%')</where> ORDER BY create_time DESC</select>
</mapper>
